mng {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.twhy {
  border: 2px solid forestgreen;
  width: 800px;
  height: 200px;
  display: "flex";
  justify-content: "center";
  align-items: "center";
}

td {
  text-align: center;
}
